<footer>
    <div class="bg-sea d-flex px-5 justify-content-around" id="mamaFooter">
        <a class="text-dark-blue my-3" href="https://amama.herokuapp.com/">Home</a>
        <a class="text-dark-blue my-3" href="https://amama.herokuapp.com/login">Sign Up</a>
        <a class="text-dark-blue my-3" href="https://amama.herokuapp.com/login">Register</a>
        <a class="text-dark-blue my-3" href="https://amama.herokuapp.com/login">List Your Practice</a>
        <a class="text-dark-blue my-3" href="https://amama.herokuapp.com/about">About AMAMA</a>
        <a class="text-dark-blue my-3" href="https://amama.herokuapp.com/medicines">Shop Supplements</a>
        <a class="text-dark-blue my-3" href="https://amama.herokuapp.com/contact">Contact us</a>
        <a class="text-dark-blue my-3" href="https://amama.herokuapp.com/reviews">Reviews</a>
        <a class="text-dark-blue my-3" href="#">FAQ</a>
        <a class="text-dark-blue my-3" href="#">Help desk</a>
        <a class="text-dark-blue my-3" href="#">Forums</a>
        <a class="text-dark-blue my-3" href="#">Terms of Service</a>
        <a class="text-dark-blue my-3" href="#">Terms of Use</a>
        <a class="text-dark-blue my-3" href="#">Privacy Policy</a>
    </div>
</footer>