<footer>
    <div class="d-flex px-3 py-3 bg-sea" id="mamaFooter">
        <a class="flex-fill text-dark-blue mb-0" href="https://amama.herokuapp.com/">Home</a>
        <a class="flex-fill text-dark-blue mb-0" href="https://amama.herokuapp.com/login">Sign Up</a>
        <a class="flex-fill text-dark-blue mb-0" href="https://amama.herokuapp.com/login">Register</a>
        <a class="flex-fill text-dark-blue mb-0" href="https://amama.herokuapp.com/login">List Your Practice</a>
        <a class="flex-fill text-dark-blue mb-0" href="https://amama.herokuapp.com/about">About AMAMA</a>
        <a class="flex-fill text-dark-blue mb-0" href="https://amama.herokuapp.com/medicines">Shop Supplements</a>
        <a class="flex-fill text-dark-blue mb-0" href="https://amama.herokuapp.com/contact">Contact us</a>
        <a class="flex-fill text-dark-blue mb-0" href="https://amama.herokuapp.com/reviews">Reviews</a>
        <a class="flex-fill text-dark-blue mb-0" href="#">FAQ</a>
        <a class="flex-fill text-dark-blue mb-0" href="#">Help desk</a>
        <a class="flex-fill text-dark-blue mb-0" href="#">Forums</a>
        <a class="flex-fill text-dark-blue mb-0" href="#">Terms of Service</a>
        <a class="flex-fill text-dark-blue mb-0" href="#">Terms of Use</a>
        <a class="flex-fill text-dark-blue mb-0" href="#">Privacy Policy</a>
    </div>
</footer>