{% load static %}
<nav class="nav border-top border-dark">
    <div class="container-fluid px-0 d-flex justify-content-between nav-border">
        <div id="menu-toogle" class="d-flex align-items-center w-25 pl-4">
            <span class="mr-2">
                <img id="img-icon" src="{% static 'img/meubars.png' %}" alt="">
            </span>
            <h6 class="mb-0 pr-4 f-12">MENU</h6>
            <div class="pl-4 h-100 border-left border-dark  d-flex align-items-center">
                <form class="d-flex justify-items-center" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <a class="mb-0 d-flex align-items-center" id="search-button">
                        <img id="img-icon" src="{% static 'img/search.png' %}" alt="">
                        <input class="form-control input-height border-0 ml-2 bg-transparent " type="text" placeholder="Search"
                            name="post">
                    </a>
                    <button class="btn btn-sm d-none" type="submit"></button>
                </form>
            </div>
        </div>
        <div id="center" class="d-flex align-items-center">
            <a class="nav-link " href="{% url 'home' %}">
                <h2 class="mb-0 txt-lightgrey title">Amama</h2>
            </a>
        </div>
        <div id="login-submit" class="d-flex align-items-center w-25">
            {% if user.is_authenticated %}
            <div class="f-12 font-weight-bold mx-2 px-1  ml-auto d-flex"></a>
                <a class="nav-link" href="/userdetails/{{ user.id }}/{{ user.username }}">
                    <span class="">{{user.profile.user_name}}</span>
                </a>
                <a href="/userdetails/{{ user.id }}/{{ user.username }}" class="md-icon d-flex justify-content-center rounded-circle border border-secondary mx-1">
                    <img class="h-100 judge-btn" src="{{ user.profile.profile_photo.url }}" alt="">
                </a>
            </div>
            <a class="f-12 font-weight-bold mx-2 px-1 ml-auto nav-link" href="{% url 'logout'%}">logout</a>

            {% else %}
            <a href="{% url 'login' %}" class="f-12 font-weight-bold mr-3 ml-auto nav-link">REGISTER
                /
                LOGIN</a>
            {% endif %}
        </div>
    </div>
</nav>