{% load static %}

<div id="calendar">
    <h1 data-value=11>October</h1>
    <table>
        <thead>
            <td><button>sun</button></td>
            <td><button>mon</button></td>
            <td><button>tue</button></td>
            <td><button>wed</button></td>
            <td><button>thu</button></td>
            <td><button>fri</button></td>
            <td><button>sat</button></td>
        </thead>
        <tbody>

            <tr>
                <td><button id="day1" data-month="11" onclick="getId(this.id)">28</button></td>
                <td><button id="day2" data-month="11" onclick="getId(this.id)">29</button></td>
                <td><button id="day3" data-month="11" onclick="getId(this.id)">30</button></td>
                <td><button id="day4" data-month="11" onclick="getId(this.id)">31</button></td>
                <td><button id="day5" data-month="11" onclick="getId(this.id)">01</button></td>
                <td><button id="day6" data-month="11" onclick="getId(this.id)">02</button></td>
                <td><button id="day7" data-month="11" onclick="getId(this.id)">03</button></td>
            </tr>
            <tr>
                <td><button id="day" data-month="11" onclick="getId(this.id)">04</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">05</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">06</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">07</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">08</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">09</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">10</button></td>
            </tr>
            <tr>
                <td><button id="day" data-month="11" onclick="getId(this.id)">11</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">12</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">13</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">14</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">15</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">16</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">17</button></td>
            </tr>
            <tr>
                <td><button id="day" data-month="11" onclick="getId(this.id)">18</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">19</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">20</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">21</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">22</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">23</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">24</button></td>
            </tr>
            <tr>
                <td><button id="day" data-month="11" onclick="getId(this.id)">25</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">26</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">27</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">28</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">29</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">30</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">01</button></td>
            </tr>
            <tr>
                <td><button id="day" data-month="11" onclick="getId(this.id)">02</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">03</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">04</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">05</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">06</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">07</button></td>
                <td><button id="day" data-month="11" onclick="getId(this.id)">08</button></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="{% static 'js/calendar.js' %}" charset="utf-8"></script>