 #intro {
     max-width: 40rem;
     margin: 1rem auto;
     text-align: center;
 }

 .intro__overline {
     font-size: 1.4rem;
     font-family: 'Dosis', sans-serif;
     letter-spacing: 0.1em;
 }

 .intro__hed {
     font-size: 1.4rem;
     margin: 1.5rem auto;
     text-transform: uppercase;
     font-weight: 900;
     letter-spacing: 0.05em;
     font-family: 'Dosis', sans-serif;
 }

 .intro__dek {
     font-size: 1.4rem;
     font-family: 'Dosis', sans-serif;
     letter-spacing: 0.1em;
 }

 .intro_paragraph {
     color: var(--sea);
 }

 #intro {
     background-color: var(--sea);
 }

 #outro {
     /* height: 640px; */
 }

 #scroll {
     position: relative;
     background-color: var(--sea);
 }

 .scroll__graphic {
     position: absolute;
     top: 0%;
     left: 0%;
     bottom: auto;
     background-color: #fff;
     -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
 }

 .scroll__graphic.is-fixed {
     position: fixed;
 }

 .scroll__graphic.is-bottom {
     bottom: 0;
     top: auto;
 }

 .chart {
     height: 70vh !important;
     position: absolute;
     right: 1rem;
     top: 50%;
     overflow: hidden;
     -moz-transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     z-index: -5;
 }

 .scroll__text {
     position: relative;
     padding: 0 1rem;
     max-width: 30rem;
     width: 33%;
 }

 .step {
     margin: 2rem auto;
     border: 1px solid #333;
 }

 .step.is-active {
     background-color: var(--dark-blue);
 }

 .step p {
     text-align: center;
     padding: 1rem;
     font-size: 1.5rem;
 }