 * {
     box-sizing: border-box;
 }
 
 html,
 body {
     margin: 0;
     padding: 0;
     background-color: var(--sea);
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 body {
     min-height: 1280px;
     font-weight: 300;
     color: #2a2a2a;
     background-color: var(--sea);
 }
 
 p,
 h1,
 h2,
 h3,
 h4,
 a {
     margin: 0;
     font-weight: 300;
 }
 
 a,
 a:visited,
 a:hover {
     color: var(--sea);
     text-decoration: none;
     border-bottom: 1px solid currentColor;
 }
 
 #intro {
     max-width: 40rem;
     margin: 1rem auto;
     text-align: center;
 }
 
 .intro__overline {
     font-size: 1.4rem;
     font-family: 'Dosis', sans-serif;
     letter-spacing: 0.1em;
 }
 
 .intro__hed {
     font-size: 1.4rem;
     margin: 1.5rem auto;
     text-transform: uppercase;
     font-weight: 900;
     letter-spacing: 0.05em;
     font-family: 'Dosis', sans-serif;
 }
 
 .intro__dek {
     font-size: 1.4rem;
     font-family: 'Dosis', sans-serif;
     letter-spacing: 0.1em;
 }
 
 .intro_paragraph {
     color: var(--sea);
 }
 
 #intro {
     margin-bottom: 320px;
     background-color: var(--sea);
 }
 
 #outro {
     height: 640px;
 }
 
 #scroll {
     position: relative;
     background-color: var(--sea);
 }
 
 .scroll__graphic {
     position: absolute;
     top: 0;
     left: 0;
     bottom: auto;
     background-color: #fff;
     -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
 }
 
 .scroll__graphic.is-fixed {
     position: fixed;
 }
 
 .scroll__graphic.is-bottom {
     bottom: 0;
     top: auto;
 }
 
 .chart {
     position: absolute;
     right: 1rem;
     top: 50%;
     -moz-transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     z-index: -5;
 }

 .chart p {
     text-align: center;
     padding: 1rem;
     position: absolute;
     top: 50%;
     left: 50%;
     -moz-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     font-size: 8rem;
     font-weight: 900;
     color: #666;
     z-index: -5;
 }
 
 .scroll__text {
     position: relative;
     padding: 0 1rem;
     max-width: 30rem;
     width: 33%;
 }
 
 .step {
     margin: 2rem auto;
     border: 1px solid #333;
 }
 
 .step.is-active {
     background-color: var(--dark-blue);
 }
 
 .step p {
     text-align: center;
     padding: 1rem;
     font-size: 1.5rem;
 }