.font-dosis {
    font-family: 'Dosis', sans-serif;
}

.font-merriweather {
    font-family: 'Merriweather', serif;
}


li {
    list-style: none;
}


.profile-photo {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.slot-width {
    width: 100px;
}

.doc-photo {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.doc-apps-calendar:nth-child(even) {
    background-color: rgb(214, 214, 214)
}

.mhand {}

.mhand:hover {
    cursor: pointer;
}