{%extends "base/layout.html"%}
{%load static%}
{% block content %}
<!-- HEADER -->
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<div class="container">
  <div class="row">
    <!-- Intro Section -->
    <section class="pt-80">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="box-resume">
              <div class="center-top people-icon">
                <img src="{{ doctor.user.profile_picture.picture.url }}" alt="" class="img-responsive w-100">
              </div>
              <div>
                {% if current_user == doctor.user %}
                <form action="{% url 'set_profile' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="id_picture">Upload Profile Picture</label>
                    <input type="file" name="picture" id="id_picture" />
                  </div>
                  <div class="form-group">
                    <button class="btn bg-dark-blue text-aqua px-4" type="submit">save</button>
                  </div>
                </form>
                {% endif %}
              </div>
              <ul>
                <li><strong>Name</strong> {{ doctor.profile.name }}</li>
                <li><strong>Speciality</strong> {{doctor.profile.speciality}}</li>
              </ul>
              <div class="center-bottom"> <a href="3" class="btn btn-md btn-color-line ">Book Appointment</a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-1 pt-xs-60">
            <h2>{{ profile.full_name }}</h2>
            <p class="lead">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in
              volutpat amet sodales.</p>

            <p>Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet
              sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin
              viverra, vel varius
              eget sit
              mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl
              porttitor, vel eleifend odio ultricies.</p>

            <div class="we-do">

              <div class="doctor-details">

                <div class="desc">
                  <div class="d-flex">
                    <i class="mr-2 fa fa-star bg-color"></i>
                    <h4>SCORE</h4>
                  </div>
                  <p>{{doctor.profile.score}}</p>
                </div>

                <div class="desc">
                  <div class="d-flex">
                    <i class="mr-2 fa fa-stethoscope bg-color"></i>
                    <h4>SPECIALITY</h4>
                  </div>
                  <p>{{doctor.profile.speciality}}</p>
                </div>

                <div class="desc">
                  <div class="d-flex">
                    <i class="mr-2 fa fa-stethoscope bg-color"></i>
                    <h4>SUB SPECIALITY</h4>
                  </div>
                  <p>{{doctor.profile.sub_speciality}}</p>
                </div>

                <div class="desc">
                  <div class="d-flex">
                    <i class="mr-2 fa fa-graduation-cap bg-color"></i>
                    <h4>QUALIFICATIONS</h4>
                  </div>
                  <p>{{doctor.profile.qualifications}}</p>
                </div>

                <div class="desc">
                  <div class="d-flex">
                    <i class="mr-2 fa fa-flag bg-color"></i>
                    <h4>NATIONALITY</h4>
                  </div>
                  {% if doctor.profile.nationality == 'local_doctor' %}
                  <p>KENYAN</p>
                  {% else %}
                  <p>{{doctor.profile.nationality}}</p>
                  {% endif %}
                </div>

                <div class="desc">
                  <div class="d-flex">
                    <i class="mr-2 fab fa-medapps"></i>
                    <h4>EXPERIENCE</h4>
                  </div>
                  <p>25 years of Experience in Gynaecological</p>
                  <p>10 years of Experience in Surgeon</p>
                </div>

                <div class="desc pb-80">
                  <div class="d-flex">
                    <i class="mr-2 fa fa-trophy bg-color"></i>
                    <h4>AWARDS & RECOGNITION</h4>
                  </div>

                  <p> Top Doctor ofDoctor of Gynaecological (2016)</p>

                  <p>Best AWARDS of Surgeon</p>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </section>

    <!-- Section -->

    <section class="">

      <div class="container">

        <div class="row">

          <div class="col-sm-4 mt-xs-30">

            <h4>Emergency Case</h4>

            <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem,
              Maecenas tempus, tellus eget condimentum rhoncus.</p>

            <a class="btn btn-md btn-white-line  mt-15">Read More</a>
          </div>

          <div class="col-sm-4 mt-xs-30">

            <h4>Doctors Timetable</h4>

            <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem,
              Maecenas tempus, tellus eget condimentum rhoncus.</p>

            <a class="btn btn-md btn-white-line  mt-15">Read More</a>
          </div>

          <div class="col-sm-4 mt-xs-30">

            <h4>Opening Hours</h4>

            <ul class="timing">

              <li> <span class="fl">Monday - Friday</span> <span class="fr">8.00 - 17.00</span> </li>

              <li><span>Saturday</span> <span class="fr">9.30 - 17.30</span></li>

              <li><span>Sunday</span> <span class="fr">9.30 - 15.00</span></li>

            </ul>

          </div>

        </div>

      </div>

    </section>

    <!-- End  Section -->
    {% endblock %}