{% extends 'base/layout.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

<div class="jumbotron text-center" style="background-color: var(--sea);">

<h1 class="h1" style="font-family: 'Dosis', cursive; color: var(--dark-blue);font-size:70px;">Shop Pregnancy Supplements</h1>

<p style="font-family: 'Dosis', sans-serif;color:var(--dark-blue);">It's also a good idea during pregnancy to take a prenatal vitamin to help cover any nutritional gaps in the mother's diet. Prenatal vitamins contain many vitamins and minerals. Their folic acid, iron, iodine, and calcium are especially important.</p>

</div>
</div>


<div class="container">

<div class="card-columns">

    {% for medicine in medicines %}
  <div class="card border-secondary">
   <img src="{{medicine.image.url}}"
           data-target="#imageModal{{medicine.id}}" data-toggle="modal"
           alt="" class="img-fluid" id="eachimage" size="100px200">
  </div>
     {% endfor %}
</div>
</div>

  <!--modal-->
    {% for medicine in medicines %}
      <div class="modal fade" id="imageModal{{medicine.id}}" tabindex="-1"
           role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <img src="{{medicine.image.url}}"
                   data-toggle="modal" alt="" style="height:600px;width:500px;">
              <div class="modal-header">
              <h4 id="modal-text text-center">{{medicine.name}}</h4>
                  <h4 id="modal-text text-center">{{medicine.grams}} grams</h4>

            </div>

            <div class="modal-footer">
                <a href="{% url 'payment' %}"> <button class="btn btn-success"  type="button" onclick="copyLink(this.value)" class="btn btn-outline-secondary my-2 my-sm-0 link-btn" style=" font-family: 'Dosis', sans-serif;">BUY NOW</button></a>

            </div>
            <div class="modal-footer">

              <h5 style="font-family: 'Dosis', sans-serif;" id=modal-text>{{medicine.description}}</h5>

              <button type="button" class="btn btn-outline-secondary
              my-2 my-sm-0" data-dismiss="modal" style="font-family: 'Dosis', sans-serif;">Close</button>

            </div>
          </div>
        </div>
      </div>

<script>

function copyLink(value) {
    console.log('sdfgsdfg')
    function handler(event){
        event.clipboardData.setData('text/plain', value);
        event.preventDefault();
        document.removeEventListener('copy', handler, true);
    }

    document.addEventListener('copy', handler, true);
    document.execCommand('copy');

}
</script>
    {% endfor %}

   {% endblock %}