{%extends "base/layout.html"%}
{% load bootstrap4 %}
{%load static%}
{% block content %}

<div class="container">
  <div class="header text-center" style="">
  <h1 class="h1" style="font-family: 'Abril Fatface', cursive; color:black;font-size:30px;">Your pregnancy and baby guide</h1>
  <p style="font-family: 'Kodchasan', sans-serif;color:black;">See a schedule of antenatal recommendations.</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-4 border-right px-2">
      <div class="" style="position:fixed; width:300px">
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="#one">Antenatal Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#two">First Visit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#three">8-12 weeks:Booking an appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#four">20 weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#five">25 Weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#six">28 Weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#seven">31 Weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#eight">34 Weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nine">36 Weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ten">38 Weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#eleven">40 Weeks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#twelve">41-42 Weeks</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-8">
      <div id="one">
        <h1>Your antenatal appointments</h1>
        <p>You'll have a number of antenatal appointments during your pregnancy, and you'll see a midwife or sometimes an obstetrician (doctor specialising in pregnancy).They will check the health of you and your baby, give you useful information –
          for
          example, about a healthy pregnancy diet or antenatal screening – and answer any questions. If you're pregnant with your first baby, you'll have more appointments than women who already have children.</p>
      </div>

      <div id="two">
        <h1>First contact with midwife or doctor</h1>
        <p>Contact your GP or midwife as soon as possible after you find out that you're pregnant. They should give you information about:</p>
        <ul>
          <li>folic acid supplements</li>
          <li>nutrition, diet and food hygiene</li>
          <li>lifestyle factors – such as smoking, drinking and recreational drug use</li>
          <li>antenatal screening tests – including screening for sickle cell disease and thalassaemia, infectious diseases, the anomaly scan and screening for Down's syndrome, and the risks, benefits and limits of these tests. Screening for
            sicklecell disease and thalassaemia should be offered before 10 weeks. This is so you and your partner can find out about all your options and make an informed decision if your baby is at risk of inheriting these disorders .</li>
        </ul>

        <p><em></em>It's important to tell your midwife or doctor if:</em></p>
        <ul>
          <li>there were any complications or infections in a previous pregnancy or delivery, such as pre-eclampsia or premature birth</li>
          <li>you're being treated for a chronic disease, such as diabetes or high blood pressure</li>
          <li>you or anyone in your family has previously had a baby with an abnormality – for example, spina bifida</li>
          <li>there is a family history of an inherited disease – for example, sickle cell or cystic fibrosis</li>
          <li>you know that you are a genetic carrier for an inherited condition such as sickle cell or thalassaemia. You should also tell the midwife if you know the baby's biological father is a genetic carrier for these conditions </li>
          <li>you have had fertility treatment and either a donor egg or donor sperm</li>
        </ul>
        </p>
      </div>

      <div id="three">
        <h1>Eight to 12 weeks: booking appointment</h1>
        <p>It's best to see your midwife or doctor as early as possible to obtain the information you need to have a healthy pregnancy. Some tests, such as screening for sickle cell and thalassaemia, should be done before you're 10 weeks pregnant.</p>

        <p>Your midwife or doctor should give you information about:</p>
        <ul>

          <li>how the baby develops during pregnancy</li>
          <li>nutrition and diet</li>
          <li>exercise and pelvic floor exercises</li>
          <li>antenatal screening tests</li>
          <li>your antenatal care</li>
          <li>breastfeeding, including workshops</li>
          <li>antenatal education maternity benefits</li>
          <li>your options for where to have your baby</li>
        </ul>
        <p>Your midwife or doctor should:</p>
        <ul>
          <li>give you your handheld notes and plan of care</li>
          <li>see if you may need additional care or support</li>
          <li>plan the care you will get throughout your pregnancy</li>
          <li>identify any potential risks associated with any work you may do</li>
          <li>measure your height and weight, and calculate your body mass index (BMI)</li>
          <li>measure your blood pressure and test your urine for protein</li>
          <li>find out whether you are at increased risk of gestational diabetes or pre-eclampsia</li>
          <li>offer you screening tests and make sure you understand what is involved before you decide to have any of them</li>
          <li>offer you an ultrasound scan at 8-14 weeks to estimate when your baby is due</li>
          <li>offer you an ultrasound scan at 18-20 weeks to check the physical development of your baby and screen for possible abnormalities</li>
          <li>ask about your mood to identify possible depression</li>
          ask about any past or present severe mental illness or psychiatric treatment</li>
        </ul>
        <p>
          This appointment is an opportunity to tell your midwife or doctor if you're in a vulnerable situation or if you need extra support.</p>

        <p>This could be because of domestic abuse or violence, sexual abuse, or female genital mutilation (FGM).</p>

        <p>FGM can cause problems during labour and childbirth, which can be life threatening for mother and baby. It's important you tell your midwife or doctor if this has happened to you.
        </p>
      </div>
      <div id="four">
        <h1>18-20 weeks</h1>
        <p>You will be offered an ultrasound scan to check the physical development of your baby. This is also known as the anomaly scan. The main purpose of this scan is to check that there are no physical abnormalities.
          Screening for HIV, syphilis and hepatitis B will be offered again by a specialist midwife to women who opted not to have it earlier in pregnancy. These tests are recommended as they greatly reduce the risk of passing infection from mother to baby.
          From 20 weeks, you will be offered the whooping cough vaccine. The best time to have this vaccine is after your scan, up to 32 weeks. But if for any reason you miss the vaccine, you can still have it up until you go into labour.</p>
      </div>
      <div id="five">
        <h1>25 weeks pregnant</h1>
        <p>You will have an appointment at 25 weeks if this is your first baby.

          Your midwife or doctor should use a tape measure to measure the size of your uterus and
          measure your blood pressure and test your urine for protein
        </p>
      </div>
      <div id="six">
        <h1>28 weeks</h1>
        <p>Your midwife or doctor should: </p>
        <ul>
          <li>use a tape measure to measure the size of your uterus</li>
          <li>measure your blood pressure and test your urine for protein</li>
          <li>offer more screening tests</li>
          <li>offer your first anti-D treatment if you are rhesus negative</li>
          <li>consider an iron supplement if you're anaemic or expecting multiples</li>
        </ul>
      </div>

      <div id="seven">
        <h1>31 weeks</h1>
        <p>You will have an appointment at 31 weeks if this is your first baby.
          Your midwife or doctor should:
        </p>
        <ul>
          <li>review, discuss and record the results of any screening tests from the last appointment</li>
          <li>use a tape measure to measure the size of your uterus</li>
          <li>measure your blood pressure and test your urine for protein</li>
        </ul>
      </div>

      <div id="eight">
        <h1>34 weeks</h1>
        <p>Your midwife or doctor should give you information about preparing for labour and birth, including how to recognise active labour, ways of coping with pain in labour, and your birth plan.

          Your midwife or doctor should: </p>
        <ul>
          <li>review, discuss and record the results of any screening tests from the last appointment</li>
          <li>use a tape measure to measure the size of your uterus</li>
          <li>measure your blood pressure and test your urine for protein</li>
          <li>offer your second anti-D treatment if you are rhesus negative</li>
        </ul>
        <p>Your midwife or doctor should give you information about caesarean div, as around one in four women will have a caesarean.

          This discussion may take place at the 34 week appointment, or at another time during your pregnancy.

          They will discuss with you the reasons why a caesarean might be offered, what the procedure involves, risks and benefits, and implications for future pregnancies and births.

        </p>
      </div>
      <div id="nine">
        <h1>36 weeks</h1>
        <p>Your midwife or doctor should give you information about:</p>
        <ul>
          <li>breastfeeding</li>
          <li>caring for your newborn baby</li>
          <li>vitamin K and screening tests for your newborn baby</li>
          <li>your own health after your baby is born</li>
          <li>the "baby blues" and postnatal depression
          </li>
        </ul>
        <p>Your midwife or doctor will also:</p>
        <ul>
          <li>use a tape measure to measure the size of your uterus</li>
          <li>check the position of your baby</li>
          <li>measure your blood pressure and test your urine for protein</li>
          <li>offer external cephalic version (ECV) if your baby is in the breech position</li>
        </ul>
      </div>

      <div id="ten">
        <h1>38 Weeks</h1>
        <p>Your midwife or doctor will discuss the options and choices about what happens if your pregnancy lasts longer than 41 weeks.
          Your midwife or doctor should:
        </p>
        <ul>
          <li>use a tape measure to measure the size of your uterus</li>
          <li>measure your blood pressure and test your urine for protein</li>
        </ul>
      </div>

      <div id="eleven">
        <h1>40 Weeks</h1>
        <p>You will have an appointment at 40 weeks if this is your first baby.

          Your midwife or doctor should give you more information about what happens if your pregnancy lasts longer than 41 weeks.
        </p>
      </div>
      <div id="twelve">
        <h1>41 to 42 weeks</h1>
        <p>If you have not had your baby by 42 weeks and have chosen not to have an induction, you should be offered increased monitoring of the baby.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
