{%extends "base/layout.html"%}
{% load bootstrap4 %}
{%load static%}
{% block content %}
<br>
<br>

<div class="container">

  <div class="row mx-0">
    <div class="col-md-5">
      <div>
        <div>
          <h2 class="text-dark-aqua">Rough Calculator</h2>
          <div class="my-3 row mx-0">
            <div class="mr-3 col-md-6">Please choose last period date:</div>
            <div class="ol-md-6"><input class="form-control" type="date" id="begin"></div>
          </div>
          <div class="my-3 row mx-0">
            <div class="mr-3 col-md-6">Conception Estimation Date:</div>
            <div class="btn px-4 btn-info" disabled id="conception"></div>
          </div>
          <div class="my-3 row mx-0">
            <div class="mr-3 col-md-6">Pregnancy length estimation:</div>
            <div class="btn px-4 btn-info" disabled id="sofar"></div>
          </div>
          <div class="my-3 row mx-0">
            <div class="mr-3 col-md-6">Approximate Time Left Before Delivery</div>
            <div class="btn px-4 btn-info" disabled id="togo"></div>
          </div>
          <div class="my-3 row mx-0">
            <div class="mr-3 col-md-6">Due Date Estimation</div>
            <div class="btn px-4 btn-info" disabled id="due"></div>
          </div>
          <div class="my-3 row mx-0">
            <div class="mr-3 col-md-6">Future date check</div>
            <div><input class="form-control" type="date" class="btn px-4 btn-info" id="on"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="calculator-body col-md-6">
      <h2 class="text-dark-aqua">More Precise Calculator</h2>
      <p class="description">Our pregnancy Due Date Calculator will work out how many days, weeks and months to go.
        Find out when baby will arrive!</p>
      <hr>
      <div class="form-container">
        <form class="form-inline" role="form" method="get" action="/due">
          <div class="form-group">
            <label class="mr-5" for="menstruation-date">
              First day of last period
            </label>
            <div class="custom-select-container" id="due-date-calculator-date">
              <select class="last-period-day form-control" id="menstruation-date" name="d">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31" style="display: none;">31</option>
              </select>
            </div>

            <div class="custom-select-container" id="due-date-calculator-month">
              <select id="menstruation-month" class="last-period-month form-control mx-3" name="m">
                <option value="0">January</option>
                <option value="1">February</option>
                <option value="2">March</option>
                <option value="3">April</option>
                <option value="4">May</option>
                <option value="5">June</option>
                <option value="6">July</option>
                <option value="7">August</option>
                <option value="8">September</option>
                <option value="9">October</option>
                <option value="10">November</option>
                <option value="11">December</option>
              </select>
            </div>
            <div class="custom-select-container" id="due-date-calculator-year">
              <select class="last-period-year form-control" id="menstruation-year" name="y">
                <option value="2018">2018</option>
                <option value="2019">2019</option>
              </select>
            </div>
          </div>

          <div class="my-3 d-flex">
            <div class="form-group">
              <label class="mr-5" for="c">
                Cycle length
              </label>
              <div class="custom-select-container">
                <select class="cycle-length form-control" id="c" name="c">
                  <option value="21">21 days</option>
                  <option value="22">22 days</option>
                  <option value="23">23 days</option>
                  <option value="24">24 days</option>
                  <option value="25">25 days</option>
                  <option value="26">26 days</option>
                  <option value="27">27 days</option>
                  <option value="28" selected="selected">28 days</option>
                  <option value="29">29 days</option>
                  <option value="30">30 days</option>
                  <option value="31">31 days</option>
                  <option value="32">32 days</option>
                  <option value="33">33 days</option>
                  <option value="34">34 days</option>
                  <option value="35">35 days</option>
                  <option value="36">36 days</option>
                  <option value="37">37 days</option>
                  <option value="38">38 days</option>
                </select>
              </div>
            </div>

            <button type="submit" class="calculate-button btn btn-info mx-3">Calculate</button>
          </div>
        </form>
      </div>

      <hr>

      <div class="results hide">
        <div class="alert-warning px-4 py-1">
          <p>
            * Please remember this result is only an estimate. Your baby will arrive when he/she is
            ready. Do consult your healthcare provider to determine your correct due date.
          </p>
        </div>
        <div class=" mt-3 card p-3 shadow-lg bg-aqua">
          <div class="d-flex">
            <div class="mr-5">Baby age:</div>
            <h3 class="" id="onsofar"></h3>
          </div>
          <hr>
          <div class="d-flex mt-2">
            <div class="mr-5">Time left:</div>
            <h3 class="" id="ontogo"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="pb-5 mb-5 text-center my-4">
    <div>
      <h2 class="text-dark-aqua">How is my due date calculated?</h2>

      <p>Your due date is calculated by adding 280 days (40 weeks) to the first day of your last menstrual period
        (assuming a 28 day cycle).</p>

      <p>Note that your menstrual period and ovulation are counted as the first two weeks of pregnancy. If you deliver
        on your due date, your baby is actually only 38 weeks old, not 40.</p>

    </div>

    <div>
      <h2 class="text-dark-aqua">Your due date is only an estimate</h2>

      <p>Please remember that your due date is only an estimate. Every pregnancy is unique and your baby will come when
        it's ready. Be sure to talk to your health care provider about your due date.</p>

      <p>On average only 5% of births take place exactly on the estimated due date. Most are born within a week either
        side of the estimated due date. A normal pregnancy can last anywhere between 38 and 42 weeks.</p>
    </div>
  </div>
</div>

{% endblock %}
<script src="{% static 'js/tom.js' %}" charset="utf-8"></script>