{%extends "base/layout.html"%}
{% load bootstrap4 %}
{%load static%}
{% block content %}
<br>
<br>

<div class="container">

  <div class="row">
    <div class="col6">
      <table>
        <tbody>
          <tr>
            <td>Please choose last period date:</td>
            <td><input type="date" id="begin"></td>
          </tr>
          <tr>
            <td>Conception Estimation Date:</td>
            <td id="conception"></td>
          </tr>
          <tr>
            <td>Pregnancy length estimation:</td>
            <td id="sofar"></td>
          </tr>
          <tr>
            <td>Approximate Time Left Before Delivery</td>
            <td id="togo"></td>
          </tr>
          <tr>
            <td>Due Date Estimation</td>
            <td id="due"></td>
          </tr>
          <tr>
            <td>Future date check</td>
            <td><input type="date" id="on"></td>
          </tr>
          <tr>
            <td>Baby age:</td>
            <td id="onsofar"></td>
          </tr>
          <tr>
            <td>Time left:</td>
            <td id="ontogo"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="calculator-body">
    <p class="description">Our pregnancy Due Date Calculator will work out how many days, weeks and months to go. Find out when baby will arrive!</p>
    <div class="form-container">
      <form class="form-inline" role="form" method="get" action="/due">
        <div class="form-group">
          <label for="menstruation-date">
            First day of last period
            <a href="/conception/ovulation/calculator/cycle" title="The first day of menstruation is counted as the first day of your ovulation cycle.">
              <i class="fa fa-info-circle"></i>
            </a>
          </label>
          <div class="custom-select-container" id="due-date-calculator-date">
            <select class="last-period-day" id="menstruation-date" name="d"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31" style="display: none;">31</option></select>
          </div>

          <div class="custom-select-container" id="due-date-calculator-month">
            <select id="menstruation-month" class="last-period-month" name="m">
              <option value="0">January</option>
              <option value="1">February</option>
              <option value="2">March</option>
              <option value="3">April</option>
              <option value="4">May</option>
              <option value="5">June</option>
              <option value="6">July</option>
              <option value="7">August</option>
              <option value="8">September</option>
              <option value="9">October</option>
              <option value="10">November</option>
              <option value="11">December</option>
            </select>
          </div>
          <div class="custom-select-container" id="due-date-calculator-year">
            <select class="last-period-year" id="menstruation-year" name="y"><option value="2018">2018</option><option value="2019">2019</option></select>
          </div>
        </div>

        <div class="form-group">
          <label for="c">
            Cycle length
            <a href="/conception/ovulation/calculator/cycle" title="The average cycle is said to be 28 days, but most women vary somewhat from the average cycle.">
              <i class="fa fa-info-circle"></i>
            </a>
          </label>
          <div class="custom-select-container">
            <select class="cycle-length" id="c" name="c"><option value="21">21 days</option>
<option value="22">22 days</option>
<option value="23">23 days</option>
<option value="24">24 days</option>
<option value="25">25 days</option>
<option value="26">26 days</option>
<option value="27">27 days</option>
<option value="28" selected="selected">28 days</option>
<option value="29">29 days</option>
<option value="30">30 days</option>
<option value="31">31 days</option>
<option value="32">32 days</option>
<option value="33">33 days</option>
<option value="34">34 days</option>
<option value="35">35 days</option>
<option value="36">36 days</option>
<option value="37">37 days</option>
<option value="38">38 days</option></select>
          </div>
        </div>

        <div class="form-group luteal-phase-form-group" style="display: none">
          <label for="l">
            Luteal phase
            <a href="/conception/ovulation/calculator/cycle/luteal-phase" title="The typical length for a luteal phase is 10-16 days, though most commonly lasts for around 14 days.">
              <i class="fa fa-info-circle"></i>
            </a>
          </label>
          <div class="custom-select-container">
            <select class="luteal-phase" id="l" name="l"><option value="8">8 days</option>
<option value="9">9 days</option>
<option value="10">10 days</option>
<option value="11">11 days</option>
<option value="12">12 days</option>
<option value="13">13 days</option>
<option value="14" selected="selected">14 days</option>
<option value="15">15 days</option>
<option value="16">16 days</option>
<option value="17">17 days</option>
<option value="18">18 days</option>
<option value="19">19 days</option>
<option value="20">20 days</option></select>
          </div>
        </div>
        <button type="submit" class="calculate-button">Calculate</button>
      </form>
    </div>

      <div class="results hide" hidden>
        <div class="heading">Your results</div>
        <div class="calendar"><strong>8</strong><span>Oct 2016</span></div>
        <div class="event conception">Conception date:
          <div>Week 2</div><span>15 Jan 2015</span>
        </div>
        <div class="event second">Second Trimester:
          <div>Week 14</div><span>9 Apr 2015</span>
        </div>
        <div class="event third">Third Trimester:
          <div>Week 28</div><span>16 Jul 2016</span>
        </div>
        <div class="event due">Estimated due date:
          <div>40 weeks full term</div><span>8 Oct 2016</span>
        </div>
        <div class="disclaimer">* Please remember this result is only an estimate. Your baby will arrive when he/she is ready. Do consult your healthcare provider to determine your correct due date.</div>
      </div>
  </div>
    <br>
    <div class="col6">
      <h3>How is my due date calculated?</h3>

      <p>Your due date is calculated by adding 280 days (40 weeks) to the first day of your last menstrual period
        (assuming a 28 day cycle).</p>

      <p>Note that your menstrual period and ovulation are counted as the first two weeks of pregnancy. If you deliver
        on your due date, your baby is actually only 38 weeks old, not 40.</p>

      <h3>Your due date is only an estimate</h3>

      <p>Please remember that your due date is only an estimate. Every pregnancy is unique and your baby will come when
        it's ready. Be sure to talk to your health care provider about your due date.</p>

      <p>On average only 5% of births take place exactly on the estimated due date. Most are born within a week either
        side of the estimated due date. A normal pregnancy can last anywhere between 38 and 42 weeks.</p>
    </div>
  </div>
</div>

{% endblock %}
<script src="{% static 'js/tom.js' %}" charset="utf-8"></script>
